body{
    background-color: darkslateblue;
    color: white;
}
.button{
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: pink;
}
.button1{
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: red;
}