body{
    background-color: darkslateblue;
    color: white;
}
.button{
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: rgb(255, 7, 197);
    margin-left: 100px;
}
.button1{
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: red;
    margin-left: 100px;
}
.button2{
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: blue;
    margin-left: 100px;
}